@model CronJob
@{
    Html.AppendTitleParts(T("编辑定时任务").Text);
}
<style asp-location="true">
    .layui-input-block {
        margin-right: 40px;
    }

    .containers {
        padding-top: 30px;
        padding-left: 30px;
    }

    .layui-form-item.btn {
        padding-top: 10px;
        padding-left: 115px;
    }

    .label-width span {
        color: #f00;
    }

    .layui-form-label {
        width: 94px;
    }

    .select {
        max-width: 420px !important;
        border: 1px solid #e6e6e6;
    }

    .layui-input-inline {
        min-width: 330px;
    }
</style>
<script asp-location="Head">
    var pleaseSelect = '@T("请选择")';
    var layuiPrint = '@T("打印")';
    var layuiExport = '@T("导出")';
    var layuiFilterColumn = '@T("筛选列")';
    var layuiArticlePage = '@T("条/页")';
    var layuiTotal = '@T("共")';
    var layuiBtn = '@T("确定")';
    var layuiGoPage = '@T("到第")';
    var layuiPage = '@T("页")';
    var layuiPrev = '@T("上一页")';
    var layuiNext = '@T("下一页")';
    var layuiNoData = '@T("无数据")';
    var layuiAsc = '@T("升序")';
    var layuiDesc = '@T("降序")';
    var layuiCloseCurrent = '@T("关 闭 当 前")';
    var layuiCloseOther = '@T("关 闭 其 他")';
    var layuiCloseAll = '@T("关 闭 全 部")';
    var layuiMenuStyle = '@T("菜单风格")';
    var layuiTopStyle = '@T("顶部风格")';
    var layuiThemeColor = '@T("主题配色")';
    var layuiMoreSettings = '@T("更多设置")';
    var layuiOpen = '@T("开")';
    var layuiClose = '@T("关")';
    var layuiMenu = '@T("菜单")';
    var layuiView = '@T("视图")';
    var layuiBanner = '@T("通栏")';
    var layuiThroughColor = '@T("通色")';
    var layuiFooter = '@T("页脚")';
    var layuiSelectAll = '@T("全选")';
    var layuiClear = '@T("清空")';
    var layuiReverseSelection = '@T("反选")';
    var layuiPeeling = '@T("换肤")';
    var layuiNoDataYet = '@T("暂无数据")';
    var layuiSearch = '@T("搜索")';
    var layuiPrevious = '@T("上一页")';
    var layuiNext = '@T("下一页")';
    var layuiNotAllowClose = '@T("前页面不允许关闭")';
    var layuiOpenAtMost = '@T("最多打开")';
    var layuiTabs = '@T("个标签页")';
</script>
<div class="containers">
    <form class="layui-form">

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                <span>*</span>@T("名称")
            </label>
            <div class="layui-input-inline ">
                <input type="text" name="Name" id="Name" autocomplete="off" class="layui-input text-width2" value="@Model.Name">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                <span>*</span>@T("显示名")
            </label><div class="layui-input-inline">
                <input type="text" name="DisplayName" id="DisplayName" autocomplete="off" class="layui-input text-width2" value="@Model.DisplayName">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                <span>*</span>@T("Cron表达式")
            </label><div class="layui-input-inline">
                <input type="text" name="Cron" id="Cron" lay-vertype="tips" autocomplete="off" class="layui-input text-width2" value="@Model.Cron">
            </div><div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                <span>*</span>@T("命令")
            </label>
            <div class="layui-input-inline">
                <input type="text" name="Method" id="Method" autocomplete="off" class="layui-input text-width2" value="@Model.Method">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                @T("启用")
            </label>
            <div class="layui-input-inline">
                <input type="checkbox" id="Enable" name="Enable" lay-skin="switch" lay-text="@T("是")|@T("否")" @(Model.Enable ? Html.Raw("checked") : Html.Raw(""))>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                @T("参数")
            </label>
            <div class="layui-input-inline">
                <textarea type="text" name="Argument" id="Argument" rows=5 autocomplete="off" class="layui-textarea text-width2">@Model.Argument</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">
                @T("内容")
            </label>
            <div class="layui-input-inline">
                <textarea type="text" rows=8 name="Remark" id="Remark" autocomplete="off" class="layui-textarea text-width2">@Model.Argument</textarea>
            </div>
        </div>

        <div class="layui-form-item btn">
            <input hidden name="Id" value="@Model.Id" />
            <input type="button" lay-submit lay-filter="Submit" id="Submit" class="pear-btn pear-btn-primary pear-btn-normal" value="@T("保存")" />
        </div>
    </form>
</div>

<script asp-location="Footer">
    layui.use(['table', 'abp', 'dg', 'form', 'dgcommon'], function () {
        var $ = layui.jquery;
        var abp = layui.abp;
        var form = layui.form;
        var table = layui.table;
        var dg = layui.dg;
        var os = layui.dgcommon;

        form.on("submit(Submit)", function (data) {
            var field = data.field;
            console.log(field);
            if (!field.Name) {
                abp.notify.warn('@T("作业名称不能为空")')
                return;
            }
            if (!field.DisplayName) {
                abp.notify.warn('@T("显示名不能为空")')
                return;
            }
            if (!field.Cron) {
                abp.notify.warn('@T("Cron表达式不能为空")')
                return;
            }
            if (!field.Method) {
                abp.notify.warn('@T("命令不能为空")')
                return;
            }

            var waitIndex = parent.layer.load(2);

            abp.ajax({
                url: "@Url.Action("Edit")",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: data.field,
                abpHandleError: false
            }).done(function (data) {
                if (!data.success) {
                    abp.notify.error(data.msg);
                    return false;
                }
                // 关闭当前页面
                let parentWindow = parent.selectedWindow().window
                parent.layer.close(parentWindow.pageIndex)
                parentWindow.saveCallback(data);
            }).fail(function (jqXHR) {
                parent.layer.msg(jqXHR.message, { icon: 5 });
            }).always(function () {
                parent.layer.close(waitIndex);
            });

            return false;
        });
    });
</script>